body
{
    color: rgb(19, 19, 22);
    text-align: left;
    font-family: Courier;
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#cabecera
{
    background: rgb(21, 21, 129);
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;

}
#container h1
{
    font-size: 20px;
}
