body
{
<<<<<<< HEAD
    color: rgb(233, 21, 49);
=======
    color: rgb(27, 27, 161);
>>>>>>> cabecera
    text-align: left;
    font-family: Arial;
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#cabecera
{
    background: rgb(21, 21, 129);
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0.5em;

}
#container h1
{
    font-size: 20px;
}
